<h1>Servant Name: {{name}}</h1>
<h2>Kingdom: {{kingdom}}</h2>
{% if  accepted%}
<padding>Status: <span style='color:green'>Accepted</span> </p>
{% else %}
<h3>Status: <span style='color:#ff8000'>Pending review</span> </h3>
{% endif %} 
<p>Age: {{age}}</p>
<p>Pigeon: {{pigeon}}</p>

{%if kingdom == "?"%}
<div style="border: 4px solid red; padding: 20px; width: 30%" onclick="window.location.href='/servant/new/'">
    <p>We noticed that you are not in any kingdom. Click here to apply</p>
</dif>
{% endif %}